<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" media="screen"  href="{{ url_for('static', filename='styles.css') }}" >
</head>
<body>
    <h1>Contact Us</h1>
    <span class="required_information">* Denotes Required Field</span>
    <form class="registration_form" action="/register" method="post" name="registration_form">
        <label>
        Email Address:
        <input type="text" placeholder="Enter your email address" name="email">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{messages[0]['email']}}
            {% endif %}
        {% endwith %}
        </label>
        <label>
        First Name:
        <input type="text" placeholder="Enter your first name" name="first_name">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{messages[0]['first_name']}}
            {% endif %}
        {% endwith %}
        </label>
        <label>
        Last Name:
        <input type="text" placeholder="Enter your last name" name="last_name">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{messages[0]['last_name']}}
            {% endif %}
        {% endwith %}
        </label>
        <label>
        Password:
        <input type="text" placeholder="Enter your password" name="password">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{messages[0]['password']}}
            {% endif %}
        {% endwith %}
        </label>
        <label>
        Confirm Password:
        <input type="text" placeholder="Confirm your password" name="confirm_password">  
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{messages[0]['confirm_password']}}
            {% endif %}
        {% endwith %}   
        </label>        
        <input class="submit" type="submit" value="Submit">
    </form>

</body>
</html>
