<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../styles.css"/>
</head>
<body>

<div id="wrapper">

    <h1>Insert a New Pangolin into the <em>pangolins</em> MongoDB</h1>

    <form action="/mongooses" method="post">
        <p><label for="name">Pangolin Name: </label><input type="text" name="name"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>

    <p><a href="/">Go Home</a></p>

</div>

</body>
</html>