<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Friends</title>
</head>

<body>
    <h1>Edit</h1>
    <form action="/friends/{{friend.id}}" method='post'>
        First Name
        <input type="text" name="first_name" value="{{friend.first_name}}">
        Last Name
        <input type="text" name="last_name" value="{{friend.last_name}}">
        Email
        <input type="email" name="email" value="{{friend.email}}">
        <input type="submit" value="Update friend">
    </form>
</body>

</html>