{% load staticfiles %}
{% load range_maker %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h2>Welcome {{ request.session.user.name }}</h2>
        <nav>
            <a href="{% url 'reviewer:new' %}">Add Book and Review</a>
            <a href="{% url 'login_reg:logout' %}">Logout</a>
        </nav>
    </header>
    <h1>Recent book reviews:</h1>
    <div class="recent">
        {% for review in reviews %}
        <div class="review">
            <h4><a href="{% url 'reviewer:show' id=review.book.id %}">{{review.book.title}}</a></h4>
            <h5>Rating</h5>
            {% for i in review.rating|range_maker %}
            <img class="star" src="{% static 'img/star.gif' %}" alt="star">
            {% endfor %}
            <p>{{review.user.name}} says: {{review.content}}</p>
            <p>Posted on {{review.created_at}}</p>
        </div>
        {% endfor %}
    </div>
    <div class="other-books">
        <h1>Other Books with Reviews</h1>
        {% for book in books %}
        <p><a href="{% url 'reviewer:show' id=book.id %}">{{book.title}}</a></p>
        {% endfor %}
    </div>
</body>
</html>
