<form name="registerFormForm" ng-submit="register(registerForm)" novalidate>
    <h3 ng-click="fillRegister()">Register</h3>

    <div ng-show="registerSuccess">
        <span>{{registerSuccess}}</span>
    </div>

    <input type="text" id="register_firstName" ng-model="registerForm.firstName">
    <label for="register_firstName">First Name:</label>
    <div ng-show="registerErrors.firstName.message">{{registerErrors.firstName.message}}</div>


    
    <input type="text" id="register_lastName" ng-model="registerForm.lastName">
    <label for="register_lastName">Last Name:</label>
    <div ng-show="registerErrors.lastName.message">{{registerErrors.lastName.message}}</div>

    <input type="email" id="register_email" ng-model="registerForm.email">
    <label for="register_email">Email:</label>
    <div ng-show="registerErrors.email.message">{{registerErrors.email.message}}</div>

    <input type="password" id="register_password" ng-model="registerForm.password">
    <label for="register_password">Password:</label>
    <div ng-show="registerErrors.password.message">{{registerErrors.password.message}}</div>

    <input type="password" id="register_confirmPassword" ng-model="registerForm.confirmPassword">
    <label for="register_confirmPassword">Confirm Password:</label>
    <div ng-show="registerErrors.confirmPassword.message">{{registerErrors.confirmPassword.message}}</div>

    <input type="submit" value="Register">
</form>

<form ng-submit="login()" novalidate>
    <h3 ng-click="fillLogin()">Login</h3>

    <div ng-show="loginSuccess">
        <span>{{loginSuccess}}</span>
    </div>

    <input type="email" id="login_email" ng-model="loginForm.email">
    <label for="login_email">Email:</label>
    <div ng-show="loginErrors.email.message">{{loginErrors.email.message}}</div>

    <input type="password" id="login_password" ng-model="loginForm.password">
    <label for="login_password">Password:</label>
    <div ng-show="loginErrors.password.message">{{loginErrors.password.message}}</div>

    <input type="submit" value="Login">
</form>