
<div class="right">Welcome {{user.firstName}} | <a href ng-click="logout()">Log Out</a></div>
<h1>Full MEAN Wall</h1>


    
<textarea name="messageText" id="messageText" class="materialize-textarea" ng-model="messageText"></textarea>
<label for="messageText">Post a new message</label>

<button class="btn green darken-2 white-text" ng-click="postMessage()">Post Message</button>

<div ng-repeat="msg in messages track by $index">
    <p><strong>{{msg._author.firstName}}</strong> | {{msg.createdAt}}<br>{{msg.text}}</p>

    <p ng-repeat="comm in msg.comments"><strong>{{comm._author.firstName}}</strong> | {{comm.createdAt}}<br>{{comm.text}} </p>

    <ng-form name="form{{$index}}">
        <textarea name="comment" id="comment{{msg.index}}" class="materialize-textarea" ng-model="commentText"></textarea>
        <label for="comment{{$index}}">Post a comment</label>

            
        <button class="btn orange white-text" ng-click="postComment()">Post Comment</button>
            
    </ng-form>
</div>
