* {
  font-family: monospace;
}

form.delete {
  display: inline-block;
}
  form.delete input {
    background-color: red;
    color: white;
  }

li {
  list-style-type: none;
  margin: 10px 0;
}

.error {
  color: red;
}

.success {
  color: green;
}