<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>
<body>
    <form action="/result" method="post">
        <div id="name">
            <label for="name">Your Name: </label>
            <input type="text" name="name" id="">
        </div>
        <div id="location">
            <label for="location">Dojo Location: </label>
            <select name="dojo_location">
              <option value="Mountain View, CA">Mountain View, CA</option>
              <option value="Bellevue, WA">Bellevue, WA</option>
              <option value="Los Angeles, CA">Los Angeles, CA</option>
              <option value="Dallas, TX">Dallas, TX</option>
            </select>
        </div>
        <div id="language">
            <label for="language">Favorite Language: </label>
            <select name="favorite_language">
              <option value=".Net">.Net</option>
              <option value="Python">Python</option>
              <option value="Swift">Swift</option>
              <option value="Javascript">Javascript</option>
            </select>
        </div>
        <div id="comment">
            <label for="comment">Comment (optional):</label>
            <textarea name="comment"></textarea>
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>