<div ng-controller="usersController" style="margin-top: 200px;">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
            <p>Hello!</p>
            <p>Please enter your name to join and share your ideas</p>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <form>
            <div class="form-group col-xs-4 col-xs-offset-1">
                <input type="text" class="form-control" ng-model="getUser.name" ng-required="true" placeholder="Your name..." ng-required="true">
                <button style="margin-top: 15px;" class="btn btn-default pull-right" ng-click="login()">Enter</button>
            </div>  
        </form>
    </div>
</div>