<html>
    <head>
      <meta charset="UTF=8">
      <title>My First Template</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1>New Dojo</h1>
        <form action="">
          First name:<br>
          <input type="text" name="firstname" value="Mickey"><br>
          Last name:<br>
          <input type="text" name="lastname" value="Mouse"><br><br>
          <input type="submit" value="Submit">
        </form>
    </body>
</html>