.container{
    padding-right: 350px;
    padding-left: 350px;
    margin-right: auto;
    margin-left: auto;
    }
    .panel{
      width: 200px;
      height: 150px;
      display: inline-block;
      margin: 10px 0px 10px 0px;
    }
    .well{
      width: 400px;
    }