<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Index Page!</h1>
  <a href="/new">Create new pangolin</a>
  <!-- Display all pangolins -->
  <% for (idx in pangolins) { %>
    <p>Name: <a href="/<%= pangolins[idx]._id %>"><%= pangolins[idx].name %></a>
      <a href="/<%= pangolins[idx]._id %>/edit/">Edit pangolin</a>
      <form action="/<%= pangolins[idx]._id %>/delete/" method='post'>
        <input type="submit" value="Delete">
      </form>
    </p>
  <% } %>
</body>
</html>