<!DOCTYPE hmtl>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login and Registration</title>
    </head>
    <body>
        <h1>Forms</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
            {% for messages in messages %}
                <li class="error">{{ messages }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <h3>Login</h3>
        <form action="/login" method="post">
            Email: <input type="email" name="email">
            Password: <input type="password" name="password">
            <input type="submit" value="Login">
        </form>

        <h3>Register</h3>
        <form action="/register" method="post">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="email" name="email">
            Password: <input type="password" name="password">
            Confirm Password: <input type="password" name="password_confirm">
            <input type="submit" value="Register">
        </form>

    </body>
</html>





