<div class="section" ng-controller="TeamsController">
    <div class="container">
        <div class="row">
            <div class="input-field col s12">
                <input type="text" name="name" id="name" ng-model="form.name">
                <label for="name">Name</label>
            </div>

            <div class="col s12 right-align">
                <button class="btn" ng-click="addTeam(form)">Add Team</button>
            </div>
        </div>

        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="team in teams track by $index">
                        <td>{{team.name}}</td>
                        <td><button class="btn" ng-click="removeTeam($index)">Delete Team</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>